@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Vazir";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
}




@utility btn {
  @apply flex items-center gap-2 rounded-xl px-4 py-2.5 text-sm;
}

@utility btn-primary {
  @apply border border-gray-200 transition hover:bg-gray-50;
}

@utility link-style {
  @apply text-sm font-medium text-gray-700 transition hover:text-teal-600;
}

@utility mobile-menu {
   @apply fixed bottom-2 left-1/2 z-50 flex w-[95%] -translate-x-1/2 rounded-3xl border border-gray-100 bg-white; box-shadow: 0px 60px 50px 20px rgba(255,255,255,5);

}


@utility input {
     @apply px-3 py-2 border border-gray-700 rounded-sm w-75 text-sm;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

@media (min-width: 1024px) {

  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Vazir";
}

